.bg-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 1024px;
  justify-content: center;
}

.bg-img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) -1.85%,
    rgba(0, 0, 0, 0) -1.84%,
    rgba(226, 225, 225, 0.77) 26.21%,
    #f8f8f8 47.74%
  );
  backdrop-filter: blur(5px);
  width: 100%;
  height: 1460px;
}


.box {
  border-radius: 12px;
  box-shadow: 0 100px 80px 0 rgba(157, 157, 157, 0.07),
  0 30.147px 24.118px 0 rgba(157, 157, 157, 0.05),
  0 12.522px 10.017px 0 rgba(157, 157, 157, 0.04),
  0 4.529px 3.623px 0 rgba(157, 157, 157, 0.02);
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  height: 100%;
  /*height: 950px;*/
  margin-top: 51px;
  margin-left: 162px;
  margin-right: 162px;
  padding: 4px;
}


.header {
  margin-top: 4px;
  gap: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 199px;
  justify-content: center;
  border-radius: 12px;

}

.img-1 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.img-2 {
  width: 120px;
  box-shadow: 0 100px 80px 0 rgba(157, 157, 157, 0.07),
  0 30.147px 24.118px 0 rgba(157, 157, 157, 0.05),
  0 12.522px 10.017px 0 rgba(157, 157, 157, 0.04),
  0 4.529px 3.623px 0 rgba(157, 157, 157, 0.02);
  height: 120px;
  margin-top: 59px;
  margin-left: 10px;
  border-radius: 12px;
  position: relative;
  border: 1px rgba(255, 255, 255, 1);
}

.heading {
  position: relative;
  font-family: Poppins, sans-serif;
  margin-top: 81px;
  width: 335px;
  height: 48px;
  margin-left: 150px;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  align-self: end;
  flex-grow: 1;
  flex-basis: auto;
}



